*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 54%, 90%);
}

.container{
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    margin: 50px auto;
    margin-top: 70px;
    border-radius: 10px;
    max-width: 700px;
    padding: 30px;
}

.card{
    margin: 30px;
    padding: 15px;
}

img{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    height: auto;
    display: block;
}

h1{
    font-family: "Young Serif", serif;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 10px;
}

p{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 10px;
    margin-top: 10px;
    line-height: 1.4;
}

h3{
    color: #7b284f;
    margin-bottom: 10px;
}

.purple{
    background-color: hsl(330, 100%, 98%);
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-family: "Outfit", sans-serif;
    padding-top: 10px;
    padding-left: 20px;
}

li{
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 10px;
}

li::marker{
    color: #7b284f;
    font-weight: bold;
}

.Ingredients li{
    margin-left: 20px;
}

.Ingredients{
    padding-top: 10px;
    font-size: 12px;
    font-family: "Outfit", sans-serif;
}

h2{
    color: hsl(14, 45%, 36%);
    font-size: 20px;
    padding-top: 7px;
}

hr{
    margin-top: 10px;
    border-top: 1px solid #eee;
    margin-bottom: 8px;
}

.Instructions{
    padding-top: 10px;
    font-family: "Outfit", sans-serif;
    margin-left: 15px;
}

.Instructions li{
    padding-left: 10px;
    line-height: 1.7;
    text-align: justify;
}

table{
    font-family: "Outfit", sans-serif;
    font-size: 10px;
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;
}

td{
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.value{
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
}

tr:last-child td{
    border-bottom: none;
}

.attribution{
    font-size: 12px;
}

@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        width: 100%;
        padding: 25px;
        margin: 0;
        border-radius: 0;
    }
    img {
        border-radius: 0;
    }
}
